section.site-section.about-section
    .site-wrapper
        .section__inner
            h2.section-header
                span.text-highlight Старт продаж 
                |квартир в корпусах 
                |ЖК «Изумрудные холмы»
                br
                span.text-light № 18, 19 и 20 

            p.section-text
                |Сдача корпусов — IV квартал 2021 года.
                br
                |Это три последних корпуса, со сдачей которых 
                |строительство жилого комплекса со всей 
                |образовательной, социальной и коммерческой 
                |инфраструктурой полностью завершится.

            b.text-bold
                |Получите дополнительную скидку 1% 
                |на старте продаж!

            a(href="#").btn
                |Успеть купить

        .section__inner
            h2.text-large
                |Выбирайте 
                |идеальное 
                |решение

section.apartments-section
    .site-wrapper
        ul.apartments-list
            li.apartments-list__item
                img(src="/assets/images/apartments/1.jpg", alt="Студии").apartments-list__img

                h3.apartments-list__title
                    |Студии

                .apartments-list__text
                    |Площадь: от 23 до 30 м2 
                    |от 2,7 млн руб*. 

            li.apartments-list__item
                img(src="/assets/images/apartments/2.jpg", alt="Однокомнатные").apartments-list__img

                h3.apartments-list__title
                    |Однокомнатные

                .apartments-list__text
                    |Площадь: от 29 до 43 м2 
                    |от 2,9 млн руб*.

            li.apartments-list__item
                img(src="/assets/images/apartments/3.jpg", alt="Двухкомнатные").apartments-list__img

                h3.apartments-list__title
                    |Двухкомнатные 

                .apartments-list__text
                    |Площадь: от 29 до 43 м2 
                    |от 4,6 млн руб*.

            li.apartments-list__item
                img(src="/assets/images/apartments/4.jpg", alt="Трехкомнатные").apartments-list__img

                h3.apartments-list__title
                    |Трехкомнатные 

                .apartments-list__text
                    |Площадь: от 49 до 67 м2 
                    |от 5,5 млн руб*.

        .apartments-section__info
            |* Стоимость указана при 100% оплате или ипотеке


section.site-section
    .site-wrapper
        .section__inner
            h2.section-header
                |Покупка квартиры 
                |на старте продаж — 
                |это не только 
                |выгодное, но и 
                |комфортное решение

            ul.section-list
                li.section-list__item
                    |Уникальное предложение — квартиры 
                    |с отделкой от 2,7 млн руб.
                li.section-list__item
                    |К вашему заселению инфраструктура 
                    |готова на 100%
                li.section-list__item
                    |Станция МЦД будет открыта, и дорога 
                    |в Москву займет в 1,5-2 раза меньше        
                    |времени
                li.section-list__item
                    |Большой выбора квартиры — от уютных    
                    |студий до просторных трехкомнатных

            a(href="#").btn
                |Заказать звонок

        .section__inner.section__inner--img
            img(src="", alt="").site-section__img


section.site-section
    .site-wrapper
        .section__inner.section__inner--img
            img(src="", alt="").site-section__img

        .section__inner
            h2.section-header
                |Жилой комплекс
                |«Изумрудные холмы»

            p.section-text--small
                |Микрорайон, окруженный 100 га лесопарка и 
                |включающий 20 жилых корпусов, образовательную, 
                |социальную и коммерческую инфраструктуру, 
                |использовать которую вы сможете сразу же после 
                |заселения.

            h2.section-header
                |На территории жилого 
                |комплекса вы найдете:


            ul.section-list
                li.section-list__item
                    |Аллея Космонавтов с макетами космических кораблей     
                    |в натуральную величину
                li.section-list__item
                    |Подземные паркинги
                li.section-list__item
                    |Спортивные и детские площадки
                li.section-list__item
                    |Кафе, пекарни, магазины и аптеки


            a(href="#").btn
                |Узнать больше


section.site-section
    .site-wrapper
        .section__inner
            h2.section-header
                |Быстро оказывайтесь 
                |там, где необходимо

            ul.section-list
                li.section-list__item
                    |8 км от Москвы
                li.section-list__item
                    |20 минут до метро «Тушинская» на 
                    |автобусе или маршрутном такси
                li.section-list__item
                    |15 минут до метро «Митино» 
                li.section-list__item
                    |10 минут до ж/д станции «Опалиха» 


            a(href="#").btn
                |Получить консультацию

        .section__inner.section__inner--img
            .site-section__img-text
                |Открытие станции МЦД 
                |в 2019 году
            img(src="", alt="").site-section__img


section.site-section
    .site-wrapper
        .section__inner.section__inner--img
            img(src="", alt="").site-section__img

        .section__inner
            h2.section-header
                |Дышите свободно 
                |и забудьте о беспокойстве

            ul.section-list.section-list--icons
                li.section-list__item
                    |100 га охраняемого хвойного леса 
                    |за вашими окнами
                li.section-list__item
                    |8 га благоустроенного парка 
                    |на территории
                li.section-list__item
                    |Широкие дорожки 
                    |для бега и прогулок

                li.section-list__item
                    |Скейт-парк


            a(href="#").btn
                |Заказать звонок

section.site-section
    .site-wrapper
        .section__inner
            h2.section-header
                |Подарите счастье детям

            ul.section-list.section-list
                li.section-list__item
                    |2 школы
                li.section-list__item
                    |Начальная школа и 4 детских сада
                li.section-list__item
                    |Свежий воздух и долгие прогулки
                li.section-list__item
                    |Общеобразовательные школы
                li.section-list__item
                    |Балетная и художественная школы
                li.section-list__item
                    |Многочисленные секции и кружки

            a(href="#").btn
                |Узнать больше

        .section__inner.section__inner--img
            img(src="", alt="").site-section__img


section.site-section.purchase-section
    .site-wrapper
        .section__inner
            h2.section-header
                |Заключите сделку на комфортных условиях

    .purchase-inner
        .purchase-text
            |Ипотека за 1 день 
            |от 6,3%

        .purchase-block

    .purchase-inner
        .purchase-block
        .purchase-text
            |Рассрочка по ставке 
            |0% до сдачи корпусов

    .purchase-inner
        .purchase-text
            |Специальные условия при 
            |единовременной оплате

        .purchase-block

    a(href="#").btn
        |Получить консультацию


section.site-section.slider-section
    .site-wrapper
        .section__inner
            h2.section-header
                |Особая выгода на квартиры с отделкой на старте продаж

        .section__inner
            p.section__text--small
                |Чистовая отделка в ЖК «Изумрудные холмы» — это ваша 
                |возможность получить квартиру с качественным ремонтом, 
                |сэкономить время, силы и средства и заселиться сразу после 
                |получения ключей. Благодаря работе наших дизайнеров, вы 
                |гарантированно получите оформленную в современном 
                |стиле квартиру, в отделке которой использованы 
                |исключительно качественные материалы. А универсальная 
                |цветовая гамма прекрасно подойдет к любой мебели, 
                |которую вы решите подобрать. 


        ul.site-slider
            li.site-slider__item
                img(src="", alt="")