footer.site-footer
    .site-wrapper
        .site-footer__inner
            img(src="", alt="").site-footer__img
            p 
                |Проектная декларация и другая документация

        .site-footer__inner
            h3 
                |Адрес
            p 
                |Московская область, г. Красногорск,
                |Бульвар Космонавтов, 8

        .site-footer__inner
            h3 
                |Офис продаж
            p 
                |г. Москва, 
                |Цветной бульвар, д. 22, стр.1

        .site-footer__inner
            h3 
                |Контакты
            p 
                a(href="#").site-footer__phone
                    |+7 (495) 132-02-68
                |Часы работы: 09:00 – 20:00

        ul.social
            li.social__item
                a(href="").social__link
                    span.social__icon

            li.social__item
                a(href="").social__link
                    span.social__icon

            li.social__item
                a(href="").social__link
                    span.social__icon


    .site-footer__bottom
        .site-wrapper
            p.site-footer__bottom-inner
                |Любая информация, представленная на данном сайте, носит исключительно 
                |информационный характер и ни при каких условиях не является публичной офертой.
                br
                |© Изумрудные холмы, 2019

            p.site-footer__bottom-inner
                |Соглашение об обработAке персональных данных
                br
                |Политика конфиденциальности