header.site-header
    .site-wrapper
        a(href="#").site-header__logo
            span.site-header__info
                |Сдача: 
                b 2021 г.

        ul.header-nav
            li.header-nav__item
                a(href="#").header-nav__link
                    |Старт продаж

            li.header-nav__item
                a(href="#").header-nav__link 
                    |Главная

            li.header-nav__item
                a(href="#").header-nav__link 
                    |Квартиры

            li.header-nav__item
                a(href="#").header-nav__link
                    |О проекте

            li.header-nav__item
                a(href="#").header-nav__link
                    |Ипотека

            li.header-nav__item.mg-r-auto
                a(href="#").header-nav__link
                    |Отделка

            li.header-nav__item
                a(href="tel:84952415397").header-nav__link.header-nav__link--phone.active
                    |8 (495) 241-53-97

            li.header-nav__item
                a(href="#").header-nav__link.btn
                    |Заказать звонок
