section.page-hero
    .site-wrapper
        .page-hero__subtitle
            span Новые корпуса
            |в жилом комплексе
        h2.page-hero__title
            |«Изумрудные холмы» 

        .page-hero__info
            .page-hero__info-inner
                |от 
                b 2,7
                br
                |млн рублей

                a(href="#").btn
                    |Успей купить

            .page-hero__info-text
                |Квартиры без отделки и с готовой 
                |отделкой в трех последних 
                |строящихся корпусах 
                |микрорайона комфорт-класса 
                |в Красногорске
