doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        block title
            title Крылья

    body
        include ../common/header

        main.site-main
            include ../common/hero
            include ../common/content

        include ../common/footer